<div class="container">
  <h1>📚 Ma Bibliothèque</h1>

  <div class="layout">
    
    <aside class="form-card">
      <h2>Ajouter un ouvrage</h2>
      


      <form (ngSubmit)="save()">
        <div class="form-group">
          <label>Titre</label>
          <input [(ngModel)]="newBook.title" name="title" required placeholder="Ex: Le Petit Prince" />
        </div>

        <div class="form-group">
          <label>Auteur</label>
          <input [(ngModel)]="newBook.author" name="author" required placeholder="Ex: Antoine de Saint-Exupéry" />
        </div>

        <div class="form-group">
          <label>Année de publication</label>
          <input type="number" [(ngModel)]="newBook.year" name="year" required placeholder="Ex: 1943" />
        </div>

        <div class="form-group">
          <label>Catégorie</label>
          <input [(ngModel)]="newBook.category" name="category" required placeholder="Ex: Conte" />
        </div>

        <button type="submit" class="btn-submit">Enregistrer dans la base</button>
      </form>
    </aside>

    <main class="list-container">
      <div class="list-header">
        <h2>Collection actuelle</h2>
        <small *ngIf="books.length > 0">{{ books.length }} livre(s) répertorié(s)</small>
      </div>

      <div *ngIf="!error && books.length === 0" class="empty-state">
        <p>Aucun livre dans la collection. Utilisez le formulaire pour commencer.</p>
      </div>

      <div class="book-list" *ngIf="books.length > 0">
        <div class="book-item" *ngFor="let b of books">
          <div class="book-info">
            <span class="title">{{ b.title }}</span>
            <span class="meta">{{ b.author }} • {{ b.year }}</span>
            <br>
            <span class="category-badge">{{ b.category }}</span>
          </div>
          
          <div class="actions">
            <button class="btn-icon btn-edit" (click)="startEdit(b)">Éditer</button>
            <button class="btn-icon btn-delete" (click)="remove(b.id)">Supprimer</button>
          </div>
        </div>
      </div>
    </main>

  </div>
</div>